/* Ensure both pages cover the entire viewport and are positioned absolutely */
#whitemainpage, #blackmainpage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#line{
    position: absolute;
    z-index: 3;
    color: white;
    border: 1px solid red;
    height: 100%;
    width: 5px;

}

/* Set the z-index to control stacking order */
#whitemainpage {
    z-index: 1; /* Lower z-index value */
    background-color: white;
    text-align: center;
}

#blackmainpage {
    z-index: 2; /* Higher z-index value */
    background-color: black;
    text-align: center;
}

#blackpicture
{
    position: static;
    margin-top: 250px;
}
#whitepicture
{
    position: static;
    margin-top: 250px;
}



#whitetitle {
    margin-top: 50px;
    font-size: 20px;
    color: black;
}

#blacktitle {
    margin-top: 50px;
    font-size: 20px;
    color: white;
}

.showtext {
    opacity: 1;
    transition: all 1s ease;
}

.hidetext {
    opacity: 0;
    transition: all 1s ease;
}
